{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>My Page</title>
  </head>
  <body>
    <h1>Someday I'll be a designer:)</h1>
    <p></p>

    <input
      style="width: 300px"
      type="text"
      id="userInput"
      placeholder="Please enter your IBAN number"
      oninput="sendPostRequest({'iban': this.value, 'commit': false})"
    />

    <button
      onclick="sendPostRequest({'iban': getElementById('userInput').value, commit: true})"
    >
      Validate IBAN
    </button>

    <p id="status"></p>
    <script src="{% static 'post_request.js' %}"></script>
  </body>
</html>
